[flake8]
max-line-length = 80
ignore =
  # continuation line under-indented for hanging indent
  E121,
  # continuation line over-indented for hanging indent
  E126,
  # missing whitespace around arithmetic operator
  E226,
  # line break before binary operator
  W503,
  # line break after binary operator
  W504,
